*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #e0e8ff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.container {
  padding: 1rem;
}

.card {
  background-color: #ffffff;
  max-width: 380px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.content {
  padding: 2rem;
  text-align: center;
}

.content h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #1f2f56;
}

.description {
  font-size: 0.9rem;
  color: #7280a7;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.plain-box {
  background-color: #f5f7ff;
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.plain-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  background-color: #e0e8ff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plain-title {
  font-weight: bold;
  font-size: 0.9rem;
  color: #1f2f56;
}

.plain-price {
  font-size: 0.8rem;
  color: #7280a7;
}

.change {
  font-size: 0.8rem;
  color: #3829e0;
  font-weight: bold;
  margin-left:30%;
}

.change:hover {
  text-decoration: none;
}

.btn {
  width: 100%;
  border: none;
  padding: 0.9rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #3829e0;
  color: #ffffff;
  margin-bottom: 1rem;
  box-shadow: 0 15px 20px rgba(56, 41, 224, 0.3);
}

.btn-primary:hover {
  background-color: #2f22b7;
}

.btn-secondary {
  background: none;
  color: #7280a7;
  font-weight: bold;
}

.btn-secondary:hover {
  color: #1f2f56;
}

@media (max-width: 600px) {

  body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .bg-image {
    content: url("./images/pattern-background-mobile.svg");
    height: 200px;
    object-fit: cover;
  }

  .container {
    padding: 1.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card {
    max-width: 340px;
    border-radius: 18px;
  }

  /* HERO IMAGE */
  .image img {
    height: 180px;
    width: 100%;
    object-fit: cover;
  }

  .content {
    padding: 1.8rem 1.6rem;
  }

  .content h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 0.85rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }

  /* PLAN BOX */
  .plain-box {
    padding: 1rem;
    margin-bottom: 1.6rem;
  }

  .plain-title {
    font-size: 0.85rem;
  }

  .plain-price {
    font-size: 0.75rem;
  }

  .change {
    margin-left: auto;
    font-size: 0.75rem;
  }

  /* BUTTONS */
  .btn-primary {
    padding: 0.95rem;
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
  }

  .btn-secondary {
    font-size: 0.85rem;
  }
}
